.header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    float: left;
    width: 100%;
}

.topbar {
    background-color:#000;
    color: #ecb807;
    padding: 4px 0px;
}

.topbar ul{
  margin: 0px;
  padding: 0px;
}

.topbar ul li {
    float: left;
    list-style: none;
    margin: 3px 7px;
    font-size: 15px;
}

.topbar ul li a{
  color: #fff;
}

.topbar ul li i {
    font-size: 18px;
    margin-right: 3px;
}

.topbar ul li.followus-label {
    font-weight: bold;
}

#header .social-icon {
    float: right;
}

@media (max-width: 991px){
.topbar ul li {
    margin: 3px 3px;
    font-size: 12px;
}

#header ul.navbar-nav {
    position: static;
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 15px 0px 0px;
}}
.gl-eyebrow-style{
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Gotham-Medium", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px;}

.rating { 
  border: none;
  float:left;
  padding: 0px 110px;
}

.rating > input {display: none;} 
.rating > label:before { 
  margin: 3px;
  font-size: 1.2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 

}

.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label {color:#000;} 

.rating > input:checked + label:hover, 
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label {color:#000;}

.container {
  position: relative;
}


.text-block {
  position: absolute;
  bottom: 20px;
  left: 100px;
  background-color: black;
  color: white;
  padding-left: 50px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.my-lp {
  overflow: hidden;
}


.my-lp p {
  font-size: .9em;
  color: #000000;
  font-weight: 300;
    font-family: "ProximaNova",Helvetica Neue,Helvetica,Arial,sans-serif;
}


/* HERO */

.bg-hero {
  background-image: url("img23");
  background-position: right top;

  background-color: #f7f5f6;
  height: 230px;
  background-size: contain;
  background-repeat: no-repeat;
}

.fsc-logo {
  margin-top: 7%;
  margin-bottom: 15px;
  height: 100%;
  max-width: 384px;
}


.rect_red {
  background-color: rgb(177, 47, 73);
  width: 55%;
  max-height: 283px;
  height: 100%;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 60% 100%, 0% 100%);
}

.rect_red p {
  color: #ffffff !important;
}

.masks_title {
 margin-top: 7%;
 margin-bottom: 10px;
 height: 100%;
 max-width: 248px;
 margin-left: 20%;
}

.bg-masks {
  background-image: url("img21");
  background-position: left top;
  background-color: #efe7e7;
  height: 180px;
  background-size: 130%;
  background-repeat: no-repeat;
}

.rect_masks {
  background-color: rgb(247, 245, 246);
  width: 65%;
  max-height: 180px;
  height: 100%;
  z-index: 1;
  float: right;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 50% 100%)

}

.rect_masks a {
  color: #bfaf36;
  font-weight: bold;
}

.rect_yellow {
  background-color: rgb(247, 245, 246);
  width:100%;
  height: auto;
  padding:20px;
}

.rect_green {
  background-color: rgb(247, 245, 246);
  width:100%;
  height: auto;
  padding:20px;
}

.white_rounded {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width:100%;
  height: auto;
  padding: 20px;
}

.yellow_dash {
background-color: rgb(191, 175, 54);
width: 83px;
height: 3px;
margin: 20px auto;
}
.green_dash {
background-color: rgb(191, 175, 54);
width: 83px;
height: 3px;
margin: 20px auto;
}

.list_green {
  font-size: 15px;
  color: rgb(125, 136, 68);
}
.list_green a{
  color: rgb(125, 136, 68);
  font-weight: bold;
}
.list_green a:hover {
  color: rgb(248, 142, 102);
  font-weight: bold;
}

.list_yellow {
  font-size: 15px;
  color: rgb(83, 51, 63);
}

.list_yellow a{
  color: rgb(191, 175, 54);
  font-weight: bold;
}

.list_yellow a:hover {
  color:(248, 142, 102);
  font-weight: bold;
}

.list_yellow p {
  font-size: 0.95em;
}

.list_green p {
  font-size: 1em;
}

.title_bg {
  background-color: rgb(125, 136, 68);
  width: 30%;
  max-height: 50px;
  height: 100%;
  z-index: 2;
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  margin: 0 auto;
  padding: 10px 20px;
}

.title_bg-2 {
  background-color: rgb(83, 51, 63);
  width: 55%;
  max-height: 50px;
  height: 100%;
  z-index: 1;
  -webkit-clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  margin: 0 auto;
  padding: 10px 20px;
}

.cbg-2 {

  height: 100%;
  padding:10px 20px;
  border-radius: 20px;
}
.cbg-3 {
  background-color: #bfaf36;
  height: 100%;
  padding:10px 20px;
  border-radius: 20px;
}
.cbg-4 {
  background-color: #7d8844;
  height: 100%;
  padding:10px 20px;
  border-radius: 20px;
}
.cbg-5 {
  background-color: #b12f49;
  height: 100%;
  padding:10px 20px;
  border-radius: 20px;
}

.owl-item {
  width: 130px !important;
  margin-right: 10px;
}

.cbg-2 .owl-wrapper {
  width: 2000px !important;
}
.cbg-3 .owl-wrapper {
  width: 2000px !important;
}
.cbg-4 .owl-wrapper {
  width: 2000px !important;
}
.cbg-5 .owl-wrapper {
  width: 2200px !important;
}

.product-item-action {
  display: none;
}

.product_grid_info_subtitle {
  display: none;
}

.product_grid_rating {
  display: none;
}

.product_grid_flags {
  display: none;
}

.product_grid_info_top_text_container {
  font-size: 12px;
  line-height: 1.3;
}

.product_grid_price {
  font-size: 12px !important;
}

.product_grid_info_top_text_container {
  padding: 0 15px;
}

.categoryRowTitle {
  display: none;
}

.product-item {
  height: 200px;
  min-height: auto;
}

.product_grid_info {
  height: auto;
  min-height: auto;
}


.cbg-2 .product_grid_info_top_text_container, .cbg-3 .product_grid_info_top_text_container, .cbg-4 .product_grid_info_top_text_container, .cbg-5 .product_grid_info_top_text_container {
color: #ffffff;
}

.panel-heading:hover,
.panel-heading:focus,
.panel-heading:hover a,
.panel-heading:focus a {
  opacity: 1;
}
.active {
    opacity: 1;
  display: block;
}
.panel-heading {
  display: block;
}
.image {
  position: relative;
  overflow: hidden;
}

.image .arrow span {
    position: relative; 
}

.image .arrow#orange {
    opacity: 0;
    border-left: solid transparent 15px;
    border-right: solid transparent 15px;
    border-top: solid #f88e66 15px;
    content: " ";
    transition: all ease 0.7s;
    position: relative;
    width: 25px;
    margin: 0 auto;
}

.image .arrow#yellow {
    opacity: 0;
    border-left: solid transparent 15px;
    border-right: solid transparent 15px;
    border-top: solid #bfaf36 15px;
    content: " ";
    transition: all ease 0.7s;
    position: relative;
    width: 25px;
    margin: 0 auto;
}

.image .arrow#green {
    opacity: 0;
    border-left: solid transparent 15px;
    border-right: solid transparent 15px;
    border-top: solid #7d8844 15px;
    content: " ";
    transition: all ease 0.7s;
    position: relative;
    width: 25px;
    margin: 0 auto;
}
.image .arrow#red {
    opacity: 0;
    border-left: solid transparent 15px;
    border-right: solid transparent 15px;
    border-top: solid #b12f49 15px;
    content: " ";
    transition: all ease 0.7s;
    position: relative;
    width: 25px;
    margin: 0 auto;
}
.image:hover .arrow#orange, .active .arrow#orange, .image:hover .arrow#yellow, .active .arrow#yellow, .image:hover .arrow#green, .active .arrow#green, .image:hover .arrow#red, .active .arrow#red {
    opacity: 1;
}

.skin-title {
    background-color: none;
    padding: 0px;
}
.h-brands h1 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #53333f;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 30px;
    position: relative;
    text-align: center;
}

.h-brands h1:before, .h-brands h1:after {
    content: "";
    display: block;
    border-top: solid 2px #53333f;
    position: absolute;
    top: 50%;
    width: 100%;
}

.h-brands h1 img {
    margin: 0 auto;
    text-align: center;
    background: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 1;
}

h3 {
   font-size: 1em;
   color: #000;
   font-weight: 600;
   text-transform: uppercase;
   margin-bottom: 0;
   border-bottom: 2px solid #000;
   width: 90%;
   margin: auto;
   text-align: center;
   padding-top: 10px;
     font-family: "ProximaNova",Helvetica Neue,Helvetica,Arial,sans-serif;
}

h3:hover {
 
  
  -webkit-text-fill-color: transparent;
}

/* --- SM --- */
@media (max-width: 61.9em) {



.skin-title {
   background-color: #f3f1f6;
   padding: 20px;
}

.pg-footer{
    width: 100%;
    height: 180px;
    background-color:#000;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 100px;
    box-sizing: border-box;
    border-radius: 10px;
}
.footer{
    width: 100%;
    height: 30px;
    background: #000;
    color: white;
    text-align: center;
    border:1px solid white;
    margin-bottom: 0px;
    border-color:#ecb807;
}

.navbar-toggler{
    background-image: url(https://previews.123rf.com/images/fokaspokas/fokaspokas1809/fokaspokas180900265/109972105-simple-list-menu-icon-white-icon-with-shadow-on-transparent-background.jpg);
}

/* animation */
header{
    position: absolute;
    width: 100%;
    min-height: 50px;
    left: 0px;
    right: 0px;
    top: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 9;
}
.logo {
    float: left;
    padding-left: 15px;
    
}
.logo img {
    height: 32px;
    margin-top: 15px;
}

.navigation{
    float: right;
    padding-right: 15px;
    margin-top: 15px;
}

.navigation ul{
    list-style: none;
}

.navigation ul li{
    float: left;
    margin:0 15px;
}

.navigation ul li a{
    color: #101010;
    text-decoration: none;
}

section{
    min-height: 565px;
    background-color: yellow;
    overflow: hidden;
    position: relative;
}
.caption{
  position: absolute;
  top: 30%;
  left: 0px;
  right: 0px;
  text-align: center;
   
}
.caption h2{
    font-size: 36px;
}
.sliding-background {
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    background: url(../images/banner.svg) repeat-x;
    height: 205px;
    width: 5076px;
    animation: slide 60s linear infinite;
}
.sliding-background-2 {
    position: relative;
    z-index: 0;
    margin-bottom: 25px;
    background: url(../images/clouds.svg) repeat-x;
    height: 175px;
    width: 5076px;
    animation: slide 30s linear infinite;
}
@keyframes slide {
    0% {
        transform: translate3d(0,0,0)
    }

    100% {
        transform: translate3d(-1692px,0,0)
    }
}
/* form  */
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100,300');

/* ------------- */
/* GLOBAL STYLES */
/* ------------- */

* {
  box-sizing: border-box;
}

body {
    
  background: black;
  color: #485e74;
  line-height: 1.6;
  font-family: 'Yantramanav', sans-serif;
  padding: 1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.brand {
  text-align: center;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}

.brand span {
  color: #ffffff;
}

.wrapper {
  box-shadow: 0 0 20px black
}

.wrapper > * {
  padding: 1em;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #C3C9DD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #dcdfea;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px white;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: white;
  border: 0;
  color: #ecb807;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #3952a3;
  color: #ecb807;
  outline: 0;
  transition: background-color 2s ease-out;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}
}

/* home page */
